@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(black, #1b2141);
    /* background-image: url("images/battlefield-sekiro-shadows-die-twice-thumb.png"); */
    background-repeat: no-repeat;
    background-size: cover;
}

body::-webkit-scrollbar {
    display: none;
}

nav {
    /* background-color: #1b2141; */
    background-color: transparent;
    padding: 20px 50px;
    border: 1px solid #000;
    border-left: none;
    border-right: none;
    color: white;
    width: 100%;
    margin-right: 52px;
}

nav ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
nav li {
    padding-right: 20px;
}
nav ul li.logo {
    flex: 1;
    font-size: 40px;
    font-weight: 200;
}

ul a {
    text-decoration: none;
    color: white;
}

nav ul div.navbar {
    display: inline-flex;
    padding-right: 30px;
}

nav ul div.navbar a {
    text-decoration: none;
    font-size: 25px;
    color: white;
    padding: 0 10px;
    margin-left: 20px;
}

nav ul div.navbar a:hover{
    background-color: white;
    color: black;
    border-radius: 5px;
}

nav ul .search-box {
    height: 50px;
    width: 400px;
    display: flex;
    border: 2px solid white;
    border-radius: 5px;
    margin-right: 30px;
    padding-right: 15px;
    background-color: transparent;
}

nav ul .search-box input {
    height: 100%;
    width: 500px;
    margin-right: 10px;
    padding: 0 10px;
    font-size: 15px;
}

nav ul div.icon {
    padding: 8px 2px;
    font-size: 20px;
}

nav ul .login .btn{
    width: 80px;
    height: 50px;
    padding: 5px;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    margin-left: 30px;
}

nav ul .login .btn:hover {
    color: black;
    background-color: white;
}

.account-info {
    position: fixed;
    top: 25%;
    right: 8%; 
    transform: translate(0, -50%);
    display: none;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: black;
    border-radius: 20px;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 2;
}

.account-info img {
    max-width: 200px;
    height: auto;
    max-height: 100px;
    margin: 0 auto;
    display: block;
    border-radius: 100px;
    margin-bottom: 5px;
}

.account-info::before {
    content: '';
    position: absolute;
    top: -10px;
    right: 15px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #fff transparent;
}

.login:hover .account-info {
    display: block;
    opacity: 1;
}

.game-info {
    display: flex;
    color: white;
    justify-content: space-between;
    font-size: 25px;
}

.vid video {
    width: 800px;
    border-radius: 15px;
    margin-top: 20px;
    margin-left: 30px;
}

.info {
    margin-top: 20px;
    margin-left: 50px;
}

.info h2 {
    position: relative;
}

.info .ps5 {
    width: 12rem;
    border-radius: 5px;
    position: relative;
    bottom: 15px;
    right: 35px;
}

.info .pc {
    width: 3.5rem;
    border-radius: 5px;
    position: relative;
    bottom: 40px;
    right: 35px; 
}

.info .xbox {
    width: 4rem;
    border-radius: 5px;
    position: relative;
    bottom: 35px;
    right: 20px;
    margin-left: 20px;
}

.info hr {
    border: 2px solid;
    border-radius: 2px;
    color: white;
    position: relative;
    bottom: 2rem;
    width: 89%;
}

.info .expert-sqr {
    position: relative;
    width: 80px;
    left: 25rem; 
    bottom: 5.4rem;   
}

.info .expert-line {
    width: 500px;
    position: relative;
    right: 7px;
    bottom: 12rem;
}

.info .userR {
    position: relative;
    bottom: 300px;
}

.info .userp {
    position: relative;
    bottom: 300px;
}

.info .user-sqr {
    position: relative;
    width: 80px;
    bottom: 24rem;
    left: 25rem;
}

.info .user-line {
    width: 500px;
    position: relative;
    right: 20px;
    bottom: 31rem;
}

.gamesumm .game-summary {
    color: white;
    position: relative;
    bottom: 35rem;
    padding: 10px 25px;
    padding-right: 60px;
    font-size: 25px;
}

.gamesumm .game-summary hr{
    border: 2px solid;
    border-radius: 2px;
    margin-top: 3px;
}

.gamesumm .game-summary p{
    margin-top: 10px;
    text-align: justify;
}

.review .reviewh2 {
    color: white;
    position: relative;
    bottom: 35rem;
    padding: 10px 25px;
    padding-right: 60px;
    font-size: 25px;
}

.review .reviewh2 hr {
    border: 2px solid;
    border-radius: 2px;
    margin-top: 3px;
}

.review-box {
    padding: 10px 25px;
    padding-right: 60px;
    font-size: 20px;
    position: relative;
    bottom: 35rem;
}

.review-box textarea {
    width: -webkit-fill-available;
    height: 150px;
    padding: 7px;
    font-size: 20px;
}

.review-box input {
    width: 150px;
    height: 25px;
    padding: 5px;
}

.review-box button {
    border: 1px solid;
    width: 10%;
    height: 25px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
}

.comment-container {
    max-width: -webkit-fill-available; 
    padding: 10px 25px;
    padding-right: 60px; 
    position: relative;
    bottom: 35rem;
}

.comment-section {
    margin-top: 20px;
}

.comment {
    background-color: white;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    position: relative;
    display: flex; /* Add this line */
}
   
.comment .text-container {
    flex: 1; /* Add this line */
    display: flex; /* Add this line */
    flex-direction: column; /* Add this line */
}
   
.comment img {
    width: 70px;
    height: auto;
    max-width: 70px;
}

.comment-name {
    font-weight: bold;
}

.comment1 {
    background-color: white;
    font-size: 20px;
    padding: 10px;
    height: 110px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 10px;
    position: relative;
    bottom: 36rem;
    margin-left: 1.5rem;
    margin-right: 3.6rem;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.comment1 p:first-child {
    font-weight: bold;
}

.comment1 img {
    width: 70px;
    height: auto;
    max-width: 70px;
    position: relative;
    left: 63.3em;
    bottom: 3.3rem;
}

.comment2 {
    background-color: white;
    font-size: 20px;
    padding: 10px;
    height: 110px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 10px;
    position: relative;
    bottom: 36rem;
    margin-left: 1.5rem;
    margin-right: 3.6rem;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.comment2 p:first-child {
    font-weight: bold;
}

.comment2 img {
    width: 70px;
    height: auto;
    max-width: 70px;
    position: relative;
    left: 63.3em;
    bottom: 3.3rem;
}

.comment3 {
    background-color: white;
    font-size: 20px;
    padding: 10px;
    height: 110px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 10px;
    position: relative;
    bottom: 36rem;
    margin-left: 1.5rem;
    margin-right: 3.6rem;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.comment3 p:first-child {
    font-weight: bold;
}

.comment3 img {
    width: 70px;
    height: auto;
    max-width: 70px;
    position: relative;
    left: 63.3em;
    bottom: 3.3rem;
}

.comment4 {
    background-color: white;
    font-size: 20px;
    padding: 10px;
    height: 110px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 10px;
    position: relative;
    bottom: 36rem;
    margin-left: 1.5rem;
    margin-right: 3.6rem;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.comment4 p:first-child {
    font-weight: bold;
}

.comment4 img {
    width: 70px;
    height: auto;
    max-width: 70px;
    position: relative;
    left: 63.3em;
    bottom: 3.3rem;
}

.comment5 {
    background-color: white;
    font-size: 20px;
    padding: 10px;
    height: 110px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 10px;
    position: relative;
    bottom: 36rem;
    margin-left: 1.5rem;
    margin-right: 3.6rem;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.comment5 p:first-child {
    font-weight: bold;
}

.comment5 img {
    width: 70px;
    height: auto;
    max-width: 70px;
    position: relative;
    left: 63.3em;
    bottom: 3.3rem;
}

.comment6 {
    background-color: white;
    font-size: 20px;
    padding: 10px;
    height: 110px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 10px;
    position: relative;
    bottom: 36rem;
    margin-left: 1.5rem;
    margin-right: 3.6rem;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.comment6 p:first-child {
    font-weight: bold;
}

.comment6 img {
    width: 70px;
    height: auto;
    max-width: 70px;
    position: relative;
    left: 63.3em;
    bottom: 3.3rem;
}